<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Results
        </mat-panel-title>
        <mat-panel-description>
            Total results: {{data?.length}}, Filter results:  {{displayedCount}}, Ratio: {{getCalculatePercentage(displayedCount, data?.length)}}%
            <!-- <mat-icon>date_range</mat-icon> -->
        </mat-panel-description>
    </mat-expansion-panel-header>
    <div *ngIf="data">
        <div fxLayout="row" fxLayoutAlign="end">
            <button mat-button (click)="displayedCount">Showing {{displayedCount}}</button>
            <button mat-button color="accent" (click)="toggleOptionalColumns()">Toggle Optional Columns</button>
            <button mat-button color="primary" (click)="resetAllFilters()">Reset All Filters</button>
        </div>
        <ag-grid-angular style="width: 100%; height: 200px; min-height: 50vh" 
            [columnDefs]="getColDefs()" 
            [defaultColDef]="defaultColDef"
            [rowData]="data" 
            [class]="'ag-theme-quartz'" 
            (gridReady)="onGridReady($event)"></ag-grid-angular>
    </div>
</mat-expansion-panel>