<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/pick3" (click)="onSidenavClose()">
        <mat-icon>filter_3</mat-icon> <span class="nav-caption">Pick 3</span>
    </a>
    <a mat-list-item routerLink="/pick4" (click)="onSidenavClose()">
        <mat-icon>filter_4</mat-icon> <span class="nav-caption">Pick 4</span>
    </a>
    <a mat-list-item routerLink="/lotto" (click)="onSidenavClose()">
        <mat-icon>filter_6</mat-icon> <span class="nav-caption">Lotto</span>
    </a>
</mat-nav-list>