<h1>Cash Five</h1>
<h5>Last Updated: {{data?.[0].Date | date: 'medium'}}</h5>
<div class="example-action-buttons">
    <button mat-button (click)="accordion?.openAll()">Expand All</button>
    <button mat-button (click)="accordion?.closeAll()">Collapse All</button>
</div>
<mat-accordion class="example-headers-align" multi>
    <app-date-range (dateRange)="onSelectDateRange($event)"></app-date-range>
    <app-data-table [data]="data" [game]="'CASH_FIVE'"></app-data-table>
    <app-number-stats [data]="data" [game]="'CASH_FIVE'"></app-number-stats>
</mat-accordion>